<div class="card">
  <h3 class="card-title">Add New Project to Fund</h3>
  <div>
    <div class="form-group">
      <label>Project Title:</label>
      <br>
      <input required #newTitle>
    </div>
    <div class="form-group">
      <label>Project Image:</label>
      <small>Enter an image url that best represents your project.</small>
      <br>
      <input required #newImage placeholder="https://images.unsplash.com/photo-142">
    </div>

    <div class="form-group">
      <label>Project Creator(s):</label>
      <br>
      <input  required #newCreators>
    </div>
    <div class="form-group">
      <label>Project Description:</label>
      <small>Let potential funders know more about your project.</small>
      <br>
      <textarea required  #newDescription></textarea>
    </div>
    <div class="form-group">
      <label>Project Category:</label>
      <br>
      <select required  #newCategory>
        <option value="tech" selected="selected">Tech</option>
        <option value="home">Home </option>
        <option value="music" >Music</option>
        <option value="games" >Games</option>
      </select>
    </div>
    <div class="form-group">
      <label>Project Goal:</label>
      <small>(Formatting is important. 4000 = $4,000)</small>
      <br>
      <input required  #newGoal>
    </div>
    <div class="form-group">
      <label>Describe your project plan:</label>
      <br>
      <input  required #newPlan>
    </div>
    <div class="form-group">
      <label>What swag will you give to your funders?</label>
      <br>
      <input  required #newSwag>
    </div>
    <button class="btn btn-dark" routerLink=""(click)="submitForm(newTitle.value, newImage.value, newCreators.value, newDescription.value, newCategory.value, newGoal.value, newPlan.value, newSwag.value); newTitle.value=''; newImage.value=''; newCreators.value=''; newDescription.value=''; newCategory.value=''; newGoal.value=''; newPlan.value=''; newSwag.value='';">Add</button>
  </div>

</div>
